<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="org.eclipse.wst.web.ui"
            class="com.a9ski.maven.webapp.wizards.NewProjectWizard"
            finalPerspective="org.eclipse.jst.j2ee.J2EEPerspective"
            hasPages="true"
            icon="icons/WizardIcon.gif"
            id="com.a9ski.maven.webapp.newProjectWizard"
            name="Maven Web Application"
            project="true">
         <description>
            Creates new Dynamic Web Application buildable with Maven
         </description>         
      </wizard>
      <primaryWizard
            id="com.a9ski.maven.webapp.newProjectWizard">
      </primaryWizard>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="com.a9ski.maven.webapp.preferences.MavenWebAppPreferencePage"
            id="com.a9ski.maven.webapp.preferences.MavenWebAppPreferencePage"
            name="Maven Web App Wizard">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.a9ski.maven.webapp.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="*">
         <newWizardShortcut
               id="com.a9ski.maven.webapp.newProjectWizard">
         </newWizardShortcut>
      </perspectiveExtension>
   </extension>

</plugin>
